.search{
    margin-left: 20%;
    
}
.search input{
    border-radius:  20px;
    width: 45%;
    height: 50px;
    color: #000;
    border: 2px solid #000;
}
.search button{
    border-radius:  20px;
    width: 15%;
    height: 50px;
    background-color: black;
    color: white;
    border: 2px solid #f0f0f0;
}
.user{
    font-size: 20px;
    margin-top: 10px;
    padding: 0 10px;
}
.video_title{
    margin-left: 15px;
    width: 300px;
    text-align: center;
}
.plus{
    background-color: #000;
    color: #fff;
}
.plus:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}
